{% extends 'partials/variables.html.twig' %}

{% set module = page.header.module %}

{% block render_block %}

<div class="about_features">
	<div class="container">
		<div class="about_features-header-section">
			{% if module.subtitle %}
				<h4>
					<span>{{ module.subtitle.translatable }}</span>
				</h4>
			{% endif %}

			{% if module.title %}
				<h3 class="block-title">{{ module.title.translatable|striptags('<span>')|raw }}</h3>
			{% endif %}

			<div class="description">
				{% if module.description %}
					<p>{{ module.description.translatable }}</p>
				{% endif %}
			</div>
		</div>

		<div class="about_features-container">

			<div class="contents left-content">
				<h4>{{ module.left_title.translatable|striptags('<span>')|raw }}</h4>
				<img src="{{ url('theme://images/about-features/about-features-1.svg') }}" />
				<h4>{{ module.left_discription.translatable|striptags('<span>')|raw }}</h4>
			</div>

			<div class="contents mid-content">
				<h4>{{ module.mid_title.translatable|striptags('<span>')|raw }}</h4>
				<p>{{ module.mid_discription.translatable|striptags('<span>')|raw }}</p>

				<div class="mid-rate">
					<h3>{{ module.mid_rate.translatable|striptags('<span>')|raw }}</h3>
					<svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
						<circle cx="18.285" cy="18.4767" r="14.5312" transform="rotate(-16.9756 18.285 18.4767)" fill="#FAFAFA"/>
						<path d="M23.2441 11.2837C22.2226 10.6857 21.0297 10.5487 19.8849 10.8982C19.0291 11.1594 18.328 11.6692 17.8009 12.4133C17.535 12.7888 17.3201 13.2146 17.1594 13.6841C16.764 13.3845 16.3479 13.1512 15.9175 12.9883C15.0648 12.6653 14.1985 12.634 13.3427 12.8952C12.1979 13.2447 11.2847 14.0246 10.7714 15.0912C10.2643 16.1452 10.1897 17.3966 10.5615 18.6147C10.9442 19.8684 11.7618 20.8735 13.1344 21.7777C14.3623 22.5865 15.9875 23.2919 17.8696 24.1087C18.5123 24.3877 19.2407 24.7039 20.0012 25.0455C20.2022 25.136 20.4292 25.1503 20.64 25.0859C20.8509 25.0215 21.0312 24.8829 21.1472 24.6959C21.5872 23.9877 22.0151 23.3183 22.3926 22.7276C23.4974 20.9992 24.4516 19.5065 25.0185 18.1497C25.6521 16.6333 25.7689 15.343 25.3861 14.0891C25.0143 12.8711 24.2536 11.8748 23.2441 11.2837Z" fill="#F7B910"/>
					</svg>
				</div>
				<div class="mid-bottom">
					<h4>{{ module.mid_number.translatable|striptags('<span>')|raw }}</h4>
					<p>{{ module.mid_text.translatable|striptags('<span>')|raw }}</p>
				</div>
			</div>

			<div class="contents right-content">
				<h4>{{ module.right_title.translatable|striptags('<span>')|raw }}</h4>
				<p>{{ module.right_discription.translatable|striptags('<span>')|raw }}</span></p>

				<div class="left-amount">{{ module.right_amount.translatable|striptags('<span>')|raw }}</div>
				<div class="right-bottom">
					<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="29.5" fill="white" stroke="#D3D3D3"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M38.295 27.045C38.5057 26.834 38.624 26.5481 38.624 26.25C38.624 25.9519 38.5057 25.6659 38.295 25.455L30.795 17.955C30.584 17.7443 30.2981 17.626 30 17.626C29.7019 17.626 29.4159 17.7443 29.205 17.955L21.705 25.455C21.5945 25.558 21.5058 25.6822 21.4443 25.8202C21.3828 25.9582 21.3498 26.1071 21.3471 26.2582C21.3444 26.4093 21.3722 26.5593 21.4288 26.6994C21.4854 26.8395 21.5696 26.9667 21.6764 27.0735C21.7833 27.1804 21.9105 27.2646 22.0506 27.3212C22.1907 27.3778 22.3407 27.4055 22.4918 27.4029C22.6428 27.4002 22.7918 27.3671 22.9298 27.3057C23.0678 27.2442 23.192 27.1555 23.295 27.045L28.875 21.465V33.75C28.875 34.8195 28.545 36.45 27.5865 37.7805C26.6715 39.0525 25.134 40.125 22.5 40.125C22.2016 40.125 21.9155 40.2435 21.7045 40.4545C21.4935 40.6655 21.375 40.9516 21.375 41.25C21.375 41.5484 21.4935 41.8345 21.7045 42.0455C21.9155 42.2565 22.2016 42.375 22.5 42.375C25.866 42.375 28.08 40.947 29.4135 39.0945C30.705 37.3005 31.125 35.1795 31.125 33.75V21.465L36.705 27.045C36.9159 27.2557 37.2019 27.374 37.5 27.374C37.7981 27.374 38.084 27.2557 38.295 27.045Z" fill="#15251B"/>
					</svg>
					<div class="right-amount">
						<h5>{{ module.right_total.translatable|striptags('<span>')|raw }}</h5>
						<h4>{{ module.right_total_amount.translatable|striptags('<span>')|raw }}</h4>
						<div class="bottom">
							<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="17.4058" cy="17.2836" r="15" transform="rotate(-7.8642 17.4058 17.2836)" fill="#D2F801"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M23.9187 12.1974C24.0375 12.2874 24.1156 12.421 24.136 12.5686C24.1564 12.7163 24.1174 12.866 24.0275 12.9849L18.9048 19.7494C18.8148 19.8682 18.6812 19.9464 18.5336 19.9668C18.3859 19.9872 18.2362 19.9481 18.1173 19.8582L15.4825 17.8629C15.4432 17.8331 15.3985 17.8113 15.3507 17.7988C15.303 17.7863 15.2533 17.7834 15.2045 17.7901C15.1556 17.7969 15.1085 17.8132 15.066 17.8382C15.0235 17.8631 14.9863 17.8962 14.9565 17.9356L11.6806 22.2615C11.5886 22.3745 11.4563 22.4474 11.3116 22.4648C11.1669 22.4822 11.021 22.4427 10.9049 22.3547C10.7887 22.2667 10.7112 22.1371 10.6887 21.9931C10.6662 21.8491 10.7005 21.702 10.7843 21.5828L14.6263 16.5094C14.7163 16.3906 14.8499 16.3124 14.9975 16.292C15.1452 16.2716 15.2949 16.3107 15.4138 16.4006L18.0486 18.3958C18.0879 18.4257 18.1326 18.4475 18.1804 18.4599C18.2281 18.4724 18.2778 18.4754 18.3267 18.4686C18.3755 18.4619 18.4226 18.4456 18.4651 18.4206C18.5077 18.3957 18.5449 18.3625 18.5746 18.3232L23.1312 12.3061C23.2212 12.1874 23.3547 12.1092 23.5024 12.0888C23.6501 12.0684 23.7998 12.1075 23.9187 12.1974Z" fill="#15301F"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0502 13.1328C20.0298 12.985 20.0689 12.8352 20.159 12.7162C20.2491 12.5973 20.3827 12.519 20.5305 12.4986L23.5023 12.0881C23.65 12.0677 23.7999 12.1068 23.9188 12.1969C24.0377 12.287 24.116 12.4206 24.1364 12.5684L24.5469 15.5402C24.5673 15.6879 24.5282 15.8378 24.4381 15.9567C24.3481 16.0756 24.2144 16.1539 24.0667 16.1743C23.9189 16.1947 23.769 16.1556 23.6501 16.0655C23.5312 15.9755 23.4529 15.8419 23.4325 15.6941L23.1503 13.651C23.1367 13.5525 23.0845 13.4634 23.0052 13.4033C22.9259 13.3433 22.826 13.3172 22.7275 13.3308L20.6844 13.613C20.5366 13.6334 20.3868 13.5943 20.2679 13.5042C20.1489 13.4142 20.0706 13.2806 20.0502 13.1328Z" fill="#15301F"/>
							</svg>
							<h5>{{ module.right_number.translatable|striptags('<span>')|raw }}</h5>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}
