{% extends 'partials/variables.html.twig' %}

{% set module = page.header.hero %}
{% block render_block %}
	{% set image = page.media[page.header.hero.image] %}
	{% set left_image = page.media[page.header.hero.left_image] %}

	{% set bg = page.media[page.header.hero.hero_bg].url ?? '' %}
		<div class="hero {{ module.size == 'medium' ? 'medium' : '' }}" style="{% if(bg) %}background-image: url('{{ bg }}'){% endif %}">
			<div class="container hero-container {{ module.classes }}">

				<div class="hero-text {{ module.classes == 'text_image_center' ? 'hero_text_center' : 'hero_text_left' }}">
					<h1 class="hero-title">
						{{ module.h1.translatable|striptags('<span>')|raw }}
					</h1>
					{# <div class="hero-image hidden-on-lg"><img class="zoom-in-image" src="{{ image.url }}" alt="icon"/></div> #}
					<p class="">{{ module.text.translatable }}</p>

					<div class="hero_buttons">
						{% for button in module.buttons  %}
					
						<a class="button " href="{{ button.link }}">
							<span>{{ button.text.translatable }}</span>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
								<path d="M17.2647 13.1547C16.7333 13.6862 14.1459 16.2737 13.5691 16.8505C13.203 17.2166 12.6093 17.2165 12.2433 16.8505C11.8771 16.4843 11.8771 15.8907 12.2433 15.5246L14.3304 13.4375H7.37498C6.8572 13.4375 6.43748 13.0178 6.43748 12.5C6.43748 11.9822 6.8572 11.5625 7.37498 11.5625H14.3304L12.2433 9.47544C11.8772 9.1093 11.8772 8.51567 12.2433 8.14958C12.6095 7.78348 13.2031 7.78344 13.5692 8.14958C14.0789 8.6593 16.7653 11.3458 17.2639 11.8445C17.622 12.2111 17.6187 12.7924 17.2647 13.1547ZM24 7.45494V17.5451C24 20.7504 21.8264 22.3782 21.6854 22.5779C20.446 23.8174 18.798 24.5 17.0451 24.5H6.95494C5.202 24.5 3.55397 23.8174 2.31455 22.5778C2.17523 22.3804 0 20.7507 0 17.5451V7.45494C0 4.24962 2.17364 2.62184 2.31459 2.42211C3.55397 1.18264 5.202 0.5 6.95494 0.5H17.0451C18.798 0.5 20.446 1.18264 21.6855 2.42216C21.8248 2.61959 24 4.2493 24 7.45494ZM22.125 7.45494C22.125 5.10608 20.5021 3.9462 20.3596 3.74797C19.4743 2.86259 18.2971 2.375 17.0451 2.375H6.95494C5.70286 2.375 4.52573 2.86255 3.64041 3.74792C3.4927 3.95333 1.875 5.09361 1.875 7.45494V17.5451C1.875 19.8939 3.49786 21.0538 3.64041 21.252C4.52573 22.1375 5.70286 22.625 6.95494 22.625H17.0451C18.2971 22.625 19.4743 22.1375 20.3596 21.2521C20.5073 21.0467 22.125 19.9064 22.125 17.5451V7.45494Z" fill="#673FDD"/>
								</svg>
						</a>
						{% endfor %}
					</div>
					
				</div>

				{% if image != '' %}
					<div class="hero-image flex-on-lg">
						<img class="" src="{{ image.url }}" alt="icon"/>

						<div class="image-left-top">
							<img src="{{ url('theme://images/hero-left-top.svg') }}"/>

							{# <p>100% Customer Satisfaction</p> #}
						</div>


						{# <svg xmlns="http://www.w3.org/2000/svg" width="264" height="264" viewBox="0 0 264 264" fill="none">
							<g filter="url(#filter0_f_14878_50791)">
							<rect x="87" y="87" width="90.5973" height="90.5973" rx="7.74839" fill="#212227" fill-opacity="0.08"/>
							</g>
							<rect x="88.8125" y="88.8121" width="86.9734" height="86.9734" rx="6.34181" fill="#F4F4F4"/>
							<rect x="93.3418" y="93.3419" width="77.9137" height="77.9137" rx="5.43584" fill="white"/>
							<path d="M135.017 107.837C135.017 107.587 135.22 107.384 135.47 107.389C138.528 107.449 141.546 108.116 144.347 109.352C147.286 110.65 149.922 112.546 152.087 114.92C154.252 117.294 155.898 120.093 156.92 123.14C157.893 126.042 158.28 129.108 158.059 132.159C158.04 132.409 157.819 132.592 157.57 132.569L135.428 130.525C135.195 130.503 135.017 130.308 135.017 130.074V107.837Z" fill="#5D74F1"/>
							<path d="M131.393 112.367C131.393 112.117 131.19 111.914 130.94 111.919C126.797 112.004 122.757 113.246 119.28 115.511C115.676 117.858 112.831 121.202 111.092 125.136C109.353 129.069 108.794 133.423 109.484 137.669C110.173 141.914 112.081 145.868 114.976 149.049C117.87 152.23 121.627 154.502 125.788 155.588C129.95 156.674 134.337 156.527 138.417 155.166C142.497 153.805 146.094 151.288 148.77 147.921C151.352 144.673 152.969 140.768 153.444 136.651C153.472 136.402 153.289 136.181 153.04 136.158L131.803 134.15C131.571 134.128 131.393 133.932 131.393 133.699V112.367Z" fill="#BEC7F9"/>
							<defs>
							<filter id="filter0_f_14878_50791" x="0.906807" y="0.906807" width="262.784" height="262.784" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
							<feGaussianBlur stdDeviation="43.0466" result="effect1_foregroundBlur_14878_50791"/>
							</filter>
							</defs>
						</svg> #}

						<svg xmlns="http://www.w3.org/2000/svg" 
							width="86.8125" height="86.8125" 
							viewBox="87 87 90.5973 90.5973" 
							fill="none">
							<g filter="url(#filter0_f_14878_50791)">
								<rect x="87" y="87" width="90.5973" height="90.5973" rx="7.74839" fill="#212227" fill-opacity="0.08"></rect>
							</g>
							<rect x="88.8125" y="88.8121" width="86.9734" height="86.9734" rx="6.34181" fill="#F4F4F4"></rect>
							<rect x="93.3418" y="93.3419" width="77.9137" height="77.9137" rx="5.43584" fill="white"></rect>
							<path d="M135.017 107.837C135.017 107.587 135.22 107.384 135.47 107.389C138.528 107.449 141.546 108.116 144.347 109.352C147.286 110.65 149.922 112.546 152.087 114.92C154.252 117.294 155.898 120.093 156.92 123.14C157.893 126.042 158.28 129.108 158.059 132.159C158.04 132.409 157.819 132.592 157.57 132.569L135.428 130.525C135.195 130.503 135.017 130.308 135.017 130.074V107.837Z" fill="#5D74F1"></path>
							<path d="M131.393 112.367C131.393 112.117 131.19 111.914 130.94 111.919C126.797 112.004 122.757 113.246 119.28 115.511C115.676 117.858 112.831 121.202 111.092 125.136C109.353 129.069 108.794 133.423 109.484 137.669C110.173 141.914 112.081 145.868 114.976 149.049C117.87 152.23 121.627 154.502 125.788 155.588C129.95 156.674 134.337 156.527 138.417 155.166C142.497 153.805 146.094 151.288 148.77 147.921C151.352 144.673 152.969 140.768 153.444 136.651C153.472 136.402 153.289 136.181 153.04 136.158L131.803 134.15C131.571 134.128 131.393 133.932 131.393 133.699V112.367Z" fill="#BEC7F9"></path>
							<defs>
								<filter id="filter0_f_14878_50791" x="0.906807" y="0.906807" width="262.784" height="262.784" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
									<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
									<feGaussianBlur stdDeviation="43.0466" result="effect1_foregroundBlur_14878_50791"></feGaussianBlur>
								</filter>
							</defs>
						</svg>

						<svg xmlns="http://www.w3.org/2000/svg" width="106" height="106" viewBox="0 0 106 106" fill="none">
							<g clip-path="url(#clip0_14842_55882)">
							<path d="M26.0493 81.216L26.0493 67.781L39.4843 81.216L26.0493 81.216Z" fill="white" fill-opacity="0.1"/>
							<rect x="56.2817" y="-1.08282" width="71.143" height="71.143" rx="8" transform="rotate(45 56.2817 -1.08282)" fill="white" fill-opacity="0.1"/>
							<g clip-path="url(#clip1_14842_55882)">
							<path d="M61.5018 71.5807C61.997 70.8258 62.1636 69.9243 61.9711 69.0421C61.7783 68.16 61.2512 67.4104 60.4863 66.9302L56.9408 64.7057L58.1202 63.5263C59.2438 63.5599 60.5579 63.4507 61.6368 63.2288C63.5286 62.8396 65.3128 62.1189 66.939 61.0874C68.8735 59.8598 70.5548 58.1937 71.8016 56.2683C72.0309 55.9139 71.9297 55.4403 71.5752 55.2112C71.2209 54.9814 70.7476 55.083 70.5179 55.4373C69.3904 57.1788 67.8696 58.6862 66.1199 59.7961C64.6506 60.7282 63.0383 61.3792 61.3287 61.731C60.8219 61.8353 60.2572 61.9118 59.6898 61.9567L65.6819 55.9646C65.9805 55.666 65.9805 55.182 65.6819 54.8834L61.4055 50.6071L67.1785 44.8342C67.4762 44.5364 67.4771 44.0537 67.1804 43.7549L62.3797 38.9217C62.379 38.921 62.3786 38.9206 62.378 38.92C62.2348 38.7768 62.041 38.6961 61.8387 38.6961C61.6355 38.6957 61.4406 38.7762 61.2968 38.92L58.2938 41.923L54.0168 37.646C53.7184 37.3476 53.2342 37.3474 52.9356 37.646L47.5823 42.9993L46.3778 41.7948L47.112 41.0606C47.4104 40.7622 47.4104 40.2782 47.1118 39.9796L46.5573 39.4251C46.9825 38.811 47.4558 38.2284 47.97 37.6884C49.2199 36.3752 50.6769 35.3244 52.3008 34.5646C52.6794 34.3875 53.0709 34.2249 53.4639 34.0815C53.8607 33.9368 54.0649 33.4978 53.9205 33.1012C53.7754 32.7049 53.3368 32.5002 52.9402 32.6451C52.505 32.8037 52.0717 32.9836 51.653 33.1798C49.8561 34.0204 48.2443 35.1829 46.8624 36.6341C46.3575 37.1647 45.8887 37.7324 45.4604 38.3283L43.0198 35.8876C42.7212 35.589 42.2372 35.589 41.9386 35.8876L32.4364 45.3897C32.1378 45.6883 32.1378 46.1723 32.4364 46.4709L36.5284 50.5629C36.827 50.8615 37.311 50.8615 37.6096 50.5629L38.1236 50.049L40.1572 52.0825L45.1638 63.5508C45.6311 64.6217 46.2848 65.5791 47.0947 66.3889C47.6346 66.9289 48.2445 67.4036 48.9143 67.8019L57.0118 72.6173C58.5489 73.5315 60.521 73.076 61.5018 71.5807ZM64.0604 55.4242L55.6124 63.8722L53.8362 62.7579C53.6453 62.638 53.4601 62.5089 53.2802 62.3729C52.595 61.8537 51.998 61.2217 51.5201 60.5077C51.5182 60.5045 51.5161 60.5016 51.5142 60.4984L52.334 59.6786C53.3611 59.4759 54.2773 58.8329 54.773 57.9053C54.9113 57.6466 55.0173 57.3695 55.0853 57.084C55.1007 57.0192 55.1142 56.9542 55.1258 56.8889C55.1262 56.8881 55.1262 56.8872 55.1265 56.8862L60.3246 51.688L64.0606 55.424L64.0604 55.4242ZM61.8355 40.5436L65.5588 44.2919L54.9041 54.9466L53.6804 51.9947L52.7147 49.6644L61.8355 40.5436ZM53.4762 39.2678L57.212 43.0035L52.0808 48.1347L51.6878 47.1868C51.6494 47.0939 51.593 47.0096 51.5222 46.9389L48.6637 44.0803L53.4762 39.2678ZM37.069 48.9412L34.0582 45.9303L42.4794 37.5092L45.0299 40.0596C45.0309 40.0607 45.032 40.0622 45.0332 40.0634C45.0343 40.0645 45.0354 40.0651 45.0364 40.0662L45.4902 40.52L37.069 48.9412ZM57.7933 71.3032L49.6958 66.4878C48.2981 65.6564 47.2157 64.4291 46.5649 62.9391L41.5006 51.3383C41.4624 51.2507 41.4079 51.1713 41.3403 51.1037L39.2046 48.968L45.2966 42.876L50.3331 47.9126L52.3832 52.8581L53.5049 55.5645C53.9013 56.5225 53.431 57.6411 52.4769 58.0398C52.2854 58.1198 52.0873 58.1798 51.8806 58.2032C51.1149 58.2919 50.3693 57.923 49.9748 57.2751C49.9716 57.2699 49.9685 57.2646 49.9653 57.2593C49.9419 57.2202 49.9199 57.1801 49.8992 57.1391L47.6602 52.1034C47.642 52.0624 47.6323 52.0409 47.6323 52.0409C47.461 51.6551 47.0092 51.4815 46.6231 51.653C46.2375 51.8245 46.0635 52.2764 46.2352 52.6622C46.2352 52.6622 47.4976 55.5015 48.4584 57.6685C48.4776 57.7123 48.4975 57.7549 48.5184 57.7969L49.2575 59.4597C49.4809 59.9622 49.7032 60.4625 49.9845 60.9368C50.4622 61.7422 51.0621 62.4739 51.7596 63.0992C52.1528 63.4518 52.5766 63.7726 53.0239 64.0534L55.3155 65.4915C55.3178 65.493 55.3205 65.494 55.3228 65.4955L59.6738 68.2255C60.0876 68.4852 60.3731 68.8911 60.4772 69.3681C60.5816 69.8458 60.4912 70.3336 60.2232 70.7422C59.6925 71.5516 58.6251 71.798 57.7933 71.3032Z" fill="white"/>
							<path d="M58.6469 33.0054C58.7762 33.1346 58.9519 33.2182 59.1485 33.2281C60.9844 33.3215 62.8312 33.7784 64.4902 34.55C66.2874 35.3861 67.9358 36.6244 69.2571 38.1315C70.2027 39.2101 70.9783 40.4178 71.5624 41.7207C71.7349 42.1056 72.1872 42.2784 72.5726 42.1054C72.958 41.9329 73.1303 41.4806 72.9574 41.0952C72.3112 39.6533 71.453 38.3171 70.4069 37.1236C68.9465 35.4579 67.1234 34.0884 65.1349 33.1637C63.2996 32.31 61.2563 31.8044 59.2264 31.7012C58.8045 31.6796 58.4453 32.0042 58.4239 32.4259C58.4123 32.6508 58.4993 32.8577 58.6469 33.0054Z" fill="white"/>
							<path d="M67.0607 49.1353C67.0742 49.3266 67.1569 49.4964 67.2826 49.622C67.4336 49.773 67.6469 49.8604 67.8768 49.8446L77.4442 49.1724C77.8655 49.1431 78.1829 48.7775 78.1533 48.3565C78.1235 47.9352 77.7584 47.6178 77.3374 47.6474L67.7698 48.3193C67.3485 48.3487 67.0311 48.7142 67.0607 49.1353Z" fill="white"/>
							<path d="M73.3577 50.8098C72.6093 50.0614 71.3917 50.0614 70.6433 50.8098C69.8949 51.5582 69.8949 52.7758 70.6433 53.5242C71.3917 54.2726 72.6095 54.2723 73.3577 53.5242C74.106 52.7758 74.106 51.5582 73.3577 50.8098ZM71.7245 52.443C71.5722 52.2907 71.5722 52.0432 71.7245 51.891C71.8765 51.739 72.1242 51.7387 72.2765 51.891C72.4285 52.043 72.4285 52.2909 72.2765 52.443C72.1242 52.5952 71.8765 52.595 71.7245 52.443Z" fill="white"/>
							<path d="M71.5593 46.6044C72.3077 47.3528 73.5253 47.3528 74.2737 46.6044C75.0221 45.856 75.0221 44.6384 74.2737 43.89C73.5253 43.1416 72.3077 43.1416 71.5593 43.89C70.8109 44.6384 70.8109 45.856 71.5593 46.6044ZM73.1927 44.971C73.345 45.1232 73.3448 45.3709 73.1925 45.5232C73.0405 45.6752 72.7928 45.6754 72.6405 45.5232C72.4883 45.3709 72.4885 45.1232 72.6405 44.9712C72.7928 44.8189 73.0405 44.8187 73.1927 44.971Z" fill="white"/>
							<path d="M55.4546 32.3539C55.3334 32.6483 55.4092 32.9986 55.6467 33.2125C55.8816 33.4241 56.2281 33.4687 56.5092 33.3257C56.7928 33.1815 56.9604 32.8618 56.9182 32.5463C56.8749 32.2251 56.6276 31.9605 56.3098 31.8965C55.9572 31.8256 55.5914 32.0215 55.4546 32.3539Z" fill="white"/>
							</g>
							</g>
							<defs>
							<clipPath id="clip0_14842_55882">
							<rect x="56.4551" y="0.605896" width="69" height="79" rx="8" transform="rotate(45 56.4551 0.605896)" fill="white"/>
							</clipPath>
							<clipPath id="clip1_14842_55882">
							<rect width="39.143" height="39.143" fill="white" transform="translate(56.2817 21.5446) rotate(45)"/>
							</clipPath>
							</defs>
						</svg>

						<div class="image-right-center">
							<img src="{{ url('theme://images/hero-right-image.svg') }}"/>

							<p>500+ Active Users</p>
						</div>

						<div class="image-bottom-left">
							<img src="{{ url('theme://images/hero-bottom-left.svg') }}"/>

							{# <p>User Friendly Interface</p> #}
						</div>
					</div>
					
				{% endif %}

			</div>
		</div>

{% endblock %}
