{% extends 'partials/variables.html.twig' %}

{% set module = page.header.text_right %}
{% set image = page.media[page.header.text_right.image] %}
{% set small_image = page.media[page.header.text_right_small.image] %}

{% block render_block %}
    <div class="paragraph text-right text-right-animation {{ module.classes }}">
        <div class="container text-right-container">
            <div class="left-section">
                <div class="left-top">
                    <div class="left">
                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="29.5" fill="white" stroke="#D3D3D3"/>
                            <path d="M30 39.63C29.8594 39.63 29.7188 39.5794 29.6063 39.4725L27.21 37.1438L23.97 37.965C23.6719 38.0381 23.3738 37.8638 23.2894 37.5713L22.3838 34.3594L19.1719 33.4538C18.8794 33.3694 18.705 33.0713 18.7781 32.7731L19.5994 29.5388L17.2706 27.1481C17.0625 26.9231 17.0625 26.5744 17.2763 26.355L19.605 23.9588L18.7838 20.7244C18.7106 20.4263 18.885 20.1281 19.1775 20.0438L22.3894 19.1381L23.295 15.9206C23.3794 15.6281 23.6775 15.4538 23.9756 15.5269L27.21 16.3481L29.6063 14.025C29.7105 13.9223 29.8509 13.8647 29.9972 13.8647C30.1435 13.8647 30.2839 13.9223 30.3881 14.025L32.7844 16.3538L36.0244 15.5325C36.3225 15.4594 36.6206 15.6338 36.705 15.9263L37.6106 19.1438L40.8225 20.0494C41.115 20.1338 41.2894 20.4319 41.2163 20.73L40.395 23.9644L42.7238 26.3606C42.8265 26.4648 42.884 26.6053 42.884 26.7516C42.884 26.8979 42.8265 27.0383 42.7238 27.1425L40.395 29.5388L41.2163 32.7731C41.2894 33.0713 41.115 33.3694 40.8225 33.4538L37.6106 34.3594L36.705 37.5769C36.6206 37.8694 36.3169 38.0438 36.0244 37.9706L32.79 37.1494L30.3938 39.4781C30.2813 39.5738 30.1406 39.63 30 39.63ZM27.3788 35.9569C27.525 35.9569 27.6656 36.0131 27.7725 36.1144L30 38.28L32.2275 36.1144C32.3681 35.9794 32.5706 35.9231 32.7563 35.9738L35.7656 36.7388L36.6094 33.7463C36.66 33.5606 36.8119 33.4088 36.9975 33.3581L39.99 32.5144L39.225 29.505C39.1744 29.3138 39.2306 29.1169 39.3656 28.9763L41.5313 26.7488L39.3656 24.5213C39.2988 24.4526 39.2508 24.3679 39.2261 24.2753C39.2015 24.1827 39.2011 24.0853 39.225 23.9925L39.99 20.9831L36.9975 20.1394C36.9046 20.1142 36.8199 20.0651 36.7518 19.997C36.6837 19.9289 36.6346 19.8442 36.6094 19.7513L35.7656 16.7588L32.7563 17.5181C32.6635 17.542 32.5661 17.5416 32.4735 17.517C32.3809 17.4924 32.2962 17.4443 32.2275 17.3775L30 15.2119L27.7725 17.3775C27.6319 17.5125 27.4294 17.5688 27.2438 17.5181L24.2344 16.7531L23.3906 19.7456C23.34 19.9313 23.1881 20.0831 23.0025 20.1338L20.01 20.9775L20.775 23.9869C20.8256 24.1781 20.7694 24.375 20.6344 24.5156L18.4688 26.7431L20.6344 28.9706C20.7694 29.1113 20.8256 29.3138 20.775 29.4994L20.01 32.5088L23.0025 33.3525C23.1938 33.4031 23.34 33.555 23.3906 33.7406L24.2344 36.7331L27.2438 35.9681C27.2888 35.9625 27.3338 35.9569 27.3788 35.9569Z" fill="#15301F"/>
                            <path d="M23.9758 46.1325H23.9308C23.8175 46.1241 23.7095 46.0813 23.6211 46.01C23.5327 45.9386 23.468 45.8421 23.4358 45.7331L21.9677 40.8675L17.8839 42.4313C17.7815 42.4706 17.6697 42.4787 17.5626 42.4547C17.4555 42.4307 17.3579 42.3756 17.2821 42.2963C17.1246 42.1331 17.0796 41.8969 17.1639 41.6888L20.6739 33.2119C20.7024 33.1436 20.744 33.0815 20.7964 33.0293C20.8488 32.977 20.911 32.9356 20.9795 32.9074C21.0479 32.8792 21.1212 32.8648 21.1952 32.8649C21.2692 32.865 21.3425 32.8797 21.4108 32.9081C21.4791 32.9366 21.5412 32.9782 21.5935 33.0306C21.6457 33.0831 21.6871 33.1452 21.7153 33.2137C21.7435 33.2821 21.758 33.3554 21.7578 33.4294C21.7577 33.5034 21.743 33.5767 21.7146 33.645L18.6996 40.9125L22.1252 39.6019C22.2714 39.5456 22.4346 39.5513 22.5752 39.6244C22.7158 39.6919 22.8227 39.8156 22.8677 39.9675L24.0939 44.0288L27.5252 36.9075C27.6602 36.6263 27.9977 36.5138 28.2733 36.6431C28.5546 36.7781 28.6727 37.1156 28.5377 37.3913L24.4821 45.8119C24.3864 46.0144 24.1896 46.1325 23.9758 46.1325ZM36.0246 46.1325C35.8108 46.1325 35.6139 46.0088 35.5183 45.8119L31.4627 37.3969C31.3277 37.1156 31.4458 36.7838 31.7271 36.6488C32.0083 36.5138 32.3458 36.6319 32.4752 36.9131L35.9064 44.0344L37.1327 39.9731C37.1555 39.8991 37.1933 39.8305 37.2436 39.7716C37.2938 39.7126 37.3556 39.6646 37.4252 39.6303C37.4947 39.5961 37.5704 39.5764 37.6478 39.5725C37.7252 39.5686 37.8026 39.5805 37.8752 39.6075L41.3008 40.9181L38.2914 33.6506C38.1733 33.3638 38.3083 33.0319 38.5952 32.9138C38.8821 32.7956 39.2139 32.9306 39.3321 33.2175L42.8421 41.6944C42.8832 41.796 42.894 41.9073 42.873 42.0148C42.852 42.1224 42.8002 42.2215 42.724 42.3002C42.6477 42.3789 42.5502 42.4337 42.4433 42.4579C42.3365 42.4822 42.2248 42.4749 42.1221 42.4369L38.0383 40.8731L36.5702 45.7388C36.5027 45.9581 36.3058 46.1213 36.0752 46.1381C36.0583 46.1325 36.0414 46.1325 36.0246 46.1325ZM30.0002 32.8913C26.6139 32.8913 23.8521 30.135 23.8521 26.7431C23.8521 23.3513 26.6139 20.6006 30.0002 20.6006C33.3864 20.6006 36.1483 23.3569 36.1483 26.7488C36.1483 30.1406 33.3864 32.8913 30.0002 32.8913ZM30.0002 21.7256C27.2327 21.7256 24.9771 23.9756 24.9771 26.7488C24.9771 29.5163 27.2271 31.7719 30.0002 31.7719C32.7733 31.7719 35.0233 29.5219 35.0233 26.7488C35.0233 23.9813 32.7677 21.7256 30.0002 21.7256Z" fill="#15301F"/>
                        </svg>

                        <h4>{{ module.left_title.translatable|striptags('<span>')|raw }}</h4>
                        <p>{{ module.left_text.translatable|striptags('<span>')|raw }}</p>
                    </div>
                    <img class="" src="{{ small_image.url }}" alt="icon"/>
                </div>
                <div class="paragraph-image">
                    <img class="" src="{{ image.url }}" alt="icon"/>
                </div>
            </div>
            <div class="text-right-text">
                {# {% if module.subtitle is not empty %}
                    <div class="sub-title">
                        <h4>{{ module.subtitle.translatable|striptags('<span>')|raw }}</h4>
                    </div>
                {% endif %} #}
                <div class="block-title">
                    <h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
                </div>
                <p>{{ page.content|striptags('<span>')|raw }}</p>

                <div class="right-buttom">
                    <div class="left-right">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25" cy="25" r="25" fill="#D2F801"/>
                            <circle cx="25" cy="25" r="24.5" stroke="#15301F" stroke-opacity="0.14"/>
                            <g clip-path="url(#clip0_54_2200)">
                                <path d="M38 28.0576C38 29.9185 36.4858 31.4326 34.625 31.4326C32.8013 31.4326 31.312 29.9785 31.2524 28.1694L29.6147 27.8618C29.3105 28.8086 28.772 29.6519 28.0674 30.3223L29.2021 31.8599C29.4805 31.7583 29.7808 31.7026 30.0938 31.7026C31.5283 31.7026 32.6948 32.8691 32.6948 34.3037C32.6948 35.7378 31.5283 36.9048 30.0938 36.9048C28.6597 36.9048 27.4927 35.7378 27.4927 34.3037C27.4927 33.7129 27.6909 33.168 28.0239 32.731L26.8896 31.1929C26.0396 31.6704 25.0601 31.9434 24.0181 31.9434C22.2417 31.9434 20.6475 31.1514 19.5684 29.9023L18.0854 30.8887C18.1611 31.1328 18.2021 31.3921 18.2021 31.6606C18.2021 33.0952 17.0356 34.2617 15.6011 34.2617C14.167 34.2617 13 33.0952 13 31.6606C13 30.2266 14.167 29.0596 15.6011 29.0596C16.2373 29.0596 16.8203 29.2896 17.2725 29.6699L18.7559 28.6836C18.3618 27.8945 18.1396 27.0054 18.1396 26.0654C18.1396 24.4106 18.8271 22.9141 19.9312 21.8447L17.7676 18.9653C17.3304 19.1647 16.8555 19.2678 16.375 19.2676C14.5142 19.2676 13 17.7534 13 15.8921C13 14.0313 14.5142 12.5171 16.375 12.5171C18.2363 12.5171 19.7505 14.0313 19.7505 15.8921C19.7505 16.7285 19.4438 17.4941 18.938 18.0845L21.1011 20.9634C21.9609 20.4697 22.957 20.187 24.0181 20.187C24.2856 20.187 24.5493 20.2056 24.8076 20.2402L25.4453 17.8403C24.6953 17.3833 24.1929 16.5576 24.1929 15.6167C24.1929 14.1826 25.3599 13.0156 26.7939 13.0156C28.2285 13.0156 29.395 14.1826 29.395 15.6167C29.395 17.0288 28.2646 18.1807 26.8613 18.2163L26.2231 20.6167C26.7031 20.8115 27.1519 21.0684 27.5591 21.377L31.5078 17.3193C31.1587 16.7881 30.9546 16.1528 30.9546 15.4702C30.9546 13.6094 32.4683 12.0952 34.3296 12.0952C36.1904 12.0952 37.7046 13.6094 37.7046 15.4702C37.7046 17.3315 36.1904 18.8457 34.3296 18.8457C33.6797 18.8457 33.0728 18.6606 32.5576 18.3413L28.6089 22.3984C29.4136 23.4048 29.896 24.6797 29.896 26.0654C29.896 26.1851 29.8921 26.3037 29.8848 26.4219L31.522 26.7295C32.0391 25.5269 33.2349 24.6821 34.625 24.6821C36.4858 24.6821 38 26.1963 38 28.0576Z" fill="#15301F"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_54_2200">
                                    <rect width="25" height="25" fill="white" transform="translate(13 12)"/>
                                </clipPath>
                            </defs>
                        </svg>

                        <h4>{{ module.buttom_left_title.translatable|striptags('<span>')|raw }}</h4>
                        <p>{{ module.buttom_left_text.translatable|striptags('<span>')|raw }}</p>
                    </div>
                    <div class="left-right">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25" cy="25" r="25" fill="#D2F801"/>
                            <circle cx="25" cy="25" r="24.5" stroke="#15301F" stroke-opacity="0.14"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7842 16.3697C23.9664 16.3087 22.1752 16.8193 20.6628 17.8297C18.9623 18.9666 17.717 20.6664 17.1456 22.6305C16.9909 22.6116 16.8056 22.62 16.5856 22.6822C15.7642 22.9155 15.1467 23.5883 14.8689 24.1811C14.5084 24.9536 14.3564 25.9755 14.5167 27.03C14.6759 28.0814 15.12 28.948 15.6756 29.4861C16.2328 30.0244 16.862 30.1994 17.487 30.068C18.4175 29.8694 18.8789 29.7208 18.7487 28.8541L18.1181 24.6514C18.1821 23.5075 18.5112 22.3942 19.0794 21.3994C19.6476 20.4046 20.4393 19.5555 21.392 18.9191C22.6759 18.0602 24.1968 17.6255 25.7407 17.6761C27.2846 17.7267 28.7738 18.2602 29.9987 19.2014C30.8443 19.8498 31.5397 20.6734 32.0372 21.6158C32.5346 22.5582 32.8224 23.597 32.8806 24.6611L32.4395 27.6008C31.9609 28.9128 31.1201 30.0622 30.0147 30.9157C28.9093 31.7693 27.5846 32.2919 26.1942 32.423H24.3148C24.1998 32.4228 24.0858 32.4452 23.9795 32.4891C23.8732 32.533 23.7766 32.5974 23.6953 32.6787C23.6139 32.76 23.5494 32.8566 23.5055 32.9628C23.4616 33.0691 23.439 33.183 23.4392 33.298V33.7597C23.439 33.8747 23.4615 33.9887 23.5054 34.095C23.5493 34.2013 23.6138 34.2979 23.6952 34.3792C23.7765 34.4605 23.8731 34.525 23.9795 34.5689C24.0858 34.6128 24.1997 34.6352 24.3148 34.635H26.6845C26.7994 34.6352 26.9132 34.6126 27.0193 34.5687C27.1255 34.5248 27.2219 34.4603 27.3031 34.379C27.3843 34.2977 27.4486 34.2012 27.4924 34.0949C27.5361 33.9887 27.5585 33.8749 27.5581 33.76V33.5183C29.6872 32.997 31.542 31.6933 32.7537 29.8666L33.5128 30.068C34.1306 30.2283 34.7673 30.0241 35.3242 29.4861C35.8798 28.9478 36.3237 28.0814 36.4831 27.03C36.6442 25.9753 36.4875 24.9553 36.1314 24.1811C35.7739 23.4069 35.2414 22.9153 34.6267 22.7389C34.3692 22.6647 34.0898 22.6375 33.85 22.6305C33.3341 20.8542 32.2646 19.2889 30.7973 18.1625C29.3549 17.0552 27.6016 16.4282 25.7842 16.3697Z" fill="#15301F"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5581 23.9305C28.8592 23.9309 29.1478 24.0507 29.3606 24.2635C29.5734 24.4764 29.6931 24.7651 29.6934 25.0661C29.6929 25.3671 29.5731 25.6556 29.3602 25.8685C29.1474 26.0813 28.8589 26.2011 28.5579 26.2016C28.2565 26.2017 27.9675 26.0821 27.7542 25.8692C27.541 25.6563 27.421 25.3674 27.4206 25.0661C27.4207 24.9168 27.4502 24.769 27.5074 24.6312C27.5646 24.4933 27.6484 24.3681 27.754 24.2626C27.8596 24.1571 27.9849 24.0735 28.1228 24.0165C28.2608 23.9594 28.4086 23.9301 28.5579 23.9302L28.5581 23.9305ZM25.4998 23.9305C25.7244 23.9306 25.9438 23.9973 26.1305 24.1222C26.3172 24.247 26.4626 24.4244 26.5485 24.6318C26.6344 24.8393 26.6568 25.0676 26.6129 25.2879C26.5691 25.5081 26.4609 25.7104 26.3021 25.8691C26.1433 26.0279 25.941 26.136 25.7207 26.1798C25.5005 26.2236 25.2722 26.2011 25.0647 26.1152C24.8573 26.0293 24.6799 25.8838 24.5552 25.6971C24.4304 25.5104 24.3637 25.2909 24.3637 25.0664C24.3635 24.9171 24.3928 24.7693 24.4499 24.6314C24.5069 24.4935 24.5906 24.3682 24.6961 24.2627C24.8016 24.1572 24.9269 24.0735 25.0649 24.0164C25.2028 23.9594 25.3506 23.9304 25.4998 23.9305ZM22.4423 23.9305C22.5935 23.9272 22.7439 23.9541 22.8846 24.0096C23.0253 24.0652 23.1535 24.1483 23.2616 24.2541C23.3698 24.3599 23.4557 24.4862 23.5144 24.6256C23.573 24.7651 23.6032 24.9148 23.6032 25.0661C23.6032 25.2174 23.573 25.3671 23.5144 25.5065C23.4557 25.646 23.3698 25.7723 23.2616 25.8781C23.1535 25.9838 23.0253 26.067 22.8846 26.1225C22.7439 26.1781 22.5935 26.205 22.4423 26.2016C22.1442 26.197 21.8598 26.0753 21.6506 25.8628C21.4415 25.6503 21.3242 25.3641 21.3242 25.0659C21.3242 24.7678 21.4415 24.4816 21.6506 24.2691C21.8598 24.0566 22.1442 23.9352 22.4423 23.9305ZM25.4998 19.0516C22.1692 19.0516 19.4854 21.6472 19.4854 25.0658C19.4854 26.7077 20.1062 28.1589 21.1176 29.2236L20.7587 30.8325C20.6404 31.3619 21.0076 31.718 21.4837 31.453L23.0545 30.5766C23.8263 30.9108 24.6587 31.0823 25.4998 31.0805C28.8315 31.0805 31.5137 28.4866 31.5137 25.0666C31.5137 21.6477 28.8315 19.0522 25.4998 19.0522V19.0516Z" fill="#15301F"/>
                        </svg>

                        <h4>{{ module.buttom_right_title.translatable|striptags('<span>')|raw }}</h4>
                        <p>{{ module.buttom_right_text.translatable|striptags('<span>')|raw }}</p>
                    </div>
                </div>

                {# {% if module.buttons %}
                    {% for button in module.buttons  %}
                        <a class="button" href="{{ button.link }}">
                            {{ button.text.translatable }}
                        </a>
                    {% endfor %}
                {% endif %} #}
            </div>
        </div>
    </div>
{% endblock %}
