{% extends 'partials/variables.html.twig' %}

{% set module = page.header.module %}

{% block render_block %}
    <div class="why_choose">
        <div class="container">
			<div class="why_choose_header">
				{% if module.title %}
					<h3 class="block-title">{{ module.title.translatable|striptags('<span>')|raw }}</h3>
				{% endif %}

                <div class="description">
                    {% if page.content %}
                        <div class="why_choose_description">
                            {{ page.content|raw }}
                        </div>
                    {% endif %}
                </div>

				
			</div>
        </div>

        <div class="why_choose_container container">

            {% for why_choose in page.header.why_choose %}

                <div class="why_choose_card">
                    {% set img_out = page.media[why_choose.image_outside] %}
                    {% if img_out != '' %}
                        <div class="img_out">
                            <img class="" src="{{ img_out.url }}"/>
                        </div>
                    {% endif %}

                    <div class="why_choose_contents">
                        {% set img_in = page.media[why_choose.image_inside] %}
                         {% if img_in != '' %}
                            <div class="img_in">
                                <img class="" src="{{ img_in.url }}"/>
                            </div>
                         {% endif %}
                        <div class="why_choose_content">
                            {% set icon = page.media[why_choose.icon] %}
                            <div class="icon_head">
                                <img class="icon" src="{{ icon.url }}"/>
                                <h4 class="head">{{ why_choose.title.translatable }}</h4>
                            </div>
                            
                            <p class="desc">{{ why_choose.description.translatable }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
