{% extends 'partials/variables.html.twig' %}

{% set module = page.header.offer %}
{% block render_block %}

	{% set left_bg = page.find('/home').header.offer.offer_img_bg %}

	<div class="offer offer_bottom_in_home" style="{% if(left_bg) %}background-image: url('{{ left_bg }}'){% endif %}">
		<div class="container">
			<div class="offer-text">


				<div class="offer-content"> 
					<h1 class="offer-title">
                        {{ page.find('/home').header.offer.h1.translatable }}
					</h1>

					<p class="">{{ page.find('/home').header.offer.text.translatable }}</p>

					{% for button in module.buttons  %}
						<a class="button " href="{{ button.link }}">

							<span>{{ button.text.translatable|striptags('</br>')|raw }}</span>
							
						</a>
					{% endfor %}

				</div>

				
			</div>

		</div>
	</div>
{% endblock %}
