{% set footer_contents = page.find('/home').header.footer %}
{% set chart_contents = page.find('/home').header.chart %}
{% set group_contents = page.find('/home').header.group %}
{% set right_bottom_contents = page.find('/home').header.right_bottom %}

<section class="footer-overlay-section">

    <div class="container">

        <div class="footer-overlay-wrapper">

            <div class="content-area">

                <h3>

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_425_2403)">
                        <path d="M14.6074 12.2616C14.6073 12.2332 14.5997 12.2052 14.5851 12.1807C14.5706 12.1563 14.5498 12.1361 14.5248 12.1224L10.1407 9.72484L7.74312 5.34052C7.6872 5.23876 7.51992 5.23876 7.46448 5.34052L5.06688 9.7246L0.682804 12.1222C0.657779 12.1359 0.636906 12.1562 0.622368 12.1807C0.607829 12.2053 0.600159 12.2333 0.600159 12.2619C0.600159 12.2904 0.607829 12.3185 0.622368 12.343C0.636906 12.3676 0.657779 12.3878 0.682804 12.4016L5.06688 14.7999L7.46448 19.184C7.49232 19.2348 7.54608 19.2668 7.60368 19.2668C7.66128 19.2668 7.71504 19.2351 7.74288 19.184L10.1405 14.7999L14.5248 12.4016C14.5499 12.3878 14.5708 12.3676 14.5853 12.343C14.5999 12.3183 14.6075 12.2902 14.6074 12.2616ZM12.3665 4.76284L14.6448 6.00844L15.8897 8.28652C15.8992 8.30395 15.9132 8.31849 15.9303 8.32862C15.9474 8.33875 15.9669 8.34409 15.9868 8.34409C16.0066 8.34409 16.0261 8.33875 16.0432 8.32862C16.0603 8.31849 16.0743 8.30395 16.0838 8.28652L17.3304 6.00868L19.6078 4.76284C19.625 4.7533 19.6394 4.7393 19.6494 4.72231C19.6594 4.70533 19.6647 4.68596 19.6647 4.66624C19.6647 4.64652 19.6594 4.62716 19.6494 4.61017C19.6394 4.59319 19.625 4.57919 19.6078 4.56964L17.3302 3.32404L16.0838 1.04644C16.045 0.974925 15.9286 0.975885 15.8902 1.04644L14.6453 3.32404L12.367 4.56964C12.3497 4.57915 12.3353 4.59311 12.3252 4.61007C12.3152 4.62703 12.3098 4.64638 12.3098 4.6661C12.3097 4.68582 12.315 4.7052 12.3249 4.72221C12.3349 4.73922 12.3493 4.75325 12.3665 4.76284ZM23.3314 17.8599L20.1991 16.147L18.4867 13.014C18.4753 12.9932 18.4585 12.9758 18.4381 12.9637C18.4176 12.9516 18.3943 12.9453 18.3706 12.9453C18.3468 12.9453 18.3235 12.9516 18.3031 12.9637C18.2826 12.9758 18.2658 12.9932 18.2544 13.014L16.541 16.1472L13.4078 17.8601C13.387 17.8715 13.3696 17.8883 13.3575 17.9088C13.3454 17.9292 13.3391 17.9525 13.3391 17.9763C13.3391 18 13.3454 18.0233 13.3575 18.0438C13.3696 18.0642 13.387 18.081 13.4078 18.0924L16.541 19.8063L18.2546 22.9383C18.2661 22.959 18.2829 22.9764 18.3033 22.9884C18.3237 23.0005 18.347 23.0068 18.3707 23.0068C18.3944 23.0068 18.4177 23.0005 18.4381 22.9884C18.4585 22.9764 18.4753 22.959 18.4867 22.9383L20.1991 19.8063L23.3311 18.0924C23.3519 18.081 23.3693 18.0642 23.3814 18.0438C23.3935 18.0233 23.3999 18 23.3999 17.9763C23.3999 17.9525 23.3935 17.9292 23.3814 17.9088C23.3693 17.8883 23.3519 17.8715 23.3311 17.8601L23.3314 17.8599Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_425_2403">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                    </svg>

                
                    {{ footer_contents.left_sub_title.translatable }}

                </h3>
                <h1>{{ footer_contents.left_title.translatable }}</h1>
                <p>{{ footer_contents.left_brief.translatable }}</p>
            
                <div class="actions">
                    <a href="#" class="footer-btn">{{ footer_contents.left_btn_text.translatable }}</a>
                
                </div>
            </div>

            <div class="box-area">

                <div class="left">
                    <h2>{{ chart_contents.right_chart_title.translatable }}</h2>
                    <p>{{ chart_contents.right_chart_brief.translatable }}</p>
                    <img src="{{ url('theme://images/chart.svg') }}" />
                </div>

                <div class="right">
                    <div class="right-top">
                        <div class="">
                            <h2>{{ group_contents.right_group_title.translatable }}</h2>
                            <p>{{ group_contents.right_group_brief.translatable }}</p>
                        </div>
                        <img src="{{ url('theme://images/group-img.png') }}" />
                        
                    </div>
                    <div class="right-bottom">
                        <h2>{{ right_bottom_contents.title.translatable }}</h2>
                        <p>{{ right_bottom_contents.brief.translatable }}</p>
                    </div>
                </div>
            
            </div>

        </div>
    
    </div>

</section>