
<div class="header-buttons {{ login_order }}">
	{% if grav.user.authenticated %}
		<a class="btn {{navbar_button_style}}" href="{{ url('/task:login.logout') }}">{{ "METRICALO.LOGOUT"|t }}</a>
	{% else %}
		<a class="btn active-btn {{navbar_button_style}}" href="{{ url('/login') }}">{{ "METRICALO.LOGIN"|t }}</a>
		<a class="{{navbar_button_style}} btn signup" href="{{ home_url|e }}{{ webdata('signup_url') }}">
			<span>{{ "METRICALO.SIGNUP"|t }}</span>

			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
			<path d="M16.5333 6.29289C16.1428 5.90237 15.5096 5.90237 15.1191 6.2929C14.7286 6.68342 14.7286 7.31659 15.1191 7.70711L18.412 11H4.82617C4.27389 11 3.82617 11.4477 3.82617 12C3.82617 12.5523 4.27389 13 4.82617 13H18.412L15.1191 16.2929C14.7286 16.6834 14.7286 17.3166 15.1191 17.7071C15.5097 18.0976 16.1428 18.0976 16.5334 17.7071L21.528 12.7124C21.5464 12.6942 21.5642 12.6753 21.5812 12.6558C21.6487 12.5781 21.7023 12.4926 21.742 12.4024C21.7958 12.2801 21.8258 12.145 21.8262 12.003V12C21.8262 11.9969 21.8262 11.9938 21.8262 11.9907C21.825 11.865 21.8007 11.7447 21.7572 11.6341C21.7084 11.5098 21.6338 11.3933 21.5333 11.2929L16.5333 6.29289Z" fill="white"/>
			</svg>
		</a>
	{% endif %}
	{% if grav.language.enabled and grav.language.languages|count > 1 %}
		<span class="language-switcher" data-current-lang="{{ grav.language.active }}" id="open-modal"><img class="frame-29 lang-flag" src="{{ url('theme://images/lang/'~grav.language.active~'.svg') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M4.45913 5.01749L0.947365 0.982514L8.01843 0.982513C8.00095 1 4.45913 5.01749 4.45913 5.01749Z" fill="#000"/>
			</svg>
		</span>
	{% endif %}
	<div id="mobile-menu-icon"></div>
	<div class="cheeseburger-menu__close" id="cheeseburger-menu-close">
		<span></span>
	</div>
</div>
